.App {
  text-align: center;
}

.halfWidth {
  width: 50%;
}

table {
  width: 100%;
  table-layout: auto;
  align-content: center;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}